.container-hero {
  left: 0;
  top: 0;
}

.hero {

  margin-top: 80px;
  margin-left: 74px;
}

.hero__content {
  display: flex;
}

.hero__title, .hero__year {
  width: 180px;
  height: 30px;
  padding: 10px 23.5;

  border-radius: 200px;
  background-color: #6532F8;

  text-align: center;
  line-height: 30px;
}

.hero__year {
  width: 75px;
}

.hero__subtitle {
  margin-top: 10px;
  font-size: 120px;
}