.movielist {
  position: relative;
  min-height: 630px;
  margin-top: 43px;
  padding-bottom: 20px;

  border-radius: 20px;
  background-color: #232323;
}

.addFilm {
  display: flex;
  align-items: end;
  gap: 20px;
  padding: 86px 0 0 83px;
}

.addFilm__input {
  width: 411px;
  height: 42px;
  background: none;
  border: none;
  border-bottom: 1px solid rgb(243, 246, 249, 0.5);

  font-size: 30px;
  color: #F3F6F9;
}

.addFilm__input::placeholder {
  color: rgb(243, 246, 249, 0.5);
}

.addFilm__input:focus {
  outline: none;
}

.addFilm__btn {
  background: none;
  border: none;
}

.btn-image {
  display: flex;
  width: 62px;
  height: 62px;
  background: url(/images/btn.png) no-repeat center;
  justify-content: center;
  align-items: center;
}

.btn-image2 {
  width: 30px;
  height: 30px;
  background: url(/images/arrow.png) no-repeat center center;
}

.movielist-wrapper {
  margin: 40px 70px 0;
  max-height: 400px;
  
  overflow-x: hidden;
  overflow-y: auto;
  scrollbar-width: none;
}

.movielist__item {
  display: flex;
  width: 790px;
  height: 71px;
  margin-top: 3px;

  border-radius: 10px;
  background-color: #3A3939;
  align-items: center;
  opacity: 0;
  transform: translateY(-50px);
  transition: 0.5s ease;
}

.show {
  opacity: 1;
  transform: translateY(0);
}

.removing {
  opacity: 0;
  transform: translateX(-50px);
}

.checked {
  opacity: 0.3;
  text-decoration: line-through;
}

.movielist__radio {
  display: none;
  margin-left: 20px;
}

.movielist__label {
  display: inline-block;
  width: 18px;
  height: 18px;
  margin-left: 20px;
  border-radius: 50%;
  background-color: #3A3939;
  border: 1px solid #f3f6f9;
  opacity: 0.3;
  cursor: pointer;
  transition: 0.2s;
}

.movielist__radio:checked + .movielist__label {
  background-color: #6532F8;
  border-color: #F3F6F9;
}

.movielist__film {
  margin-left: 20px;
  font-size: 20px;
}

.movielist__btn {
  margin-left: auto;
  margin-right: 24px;
  background: none;
  border: none;
}
.movielist__btn-img {
  width: 23px;
  height: 23px;
}